@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
}

html {
    height: 100vh;
    width: 100vw;
}   

body {
    margin: 0px;
    background-color: var(--light-dark-color);
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body {
    scrollbar-width: thin;
    scrollbar-color:var(--yellow-color) var(--md-dark-color);  
}

body::-webkit-scrollbar-track {
    background: var(--dark-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 6px;
    border: 3px solid var(--light-dark-color);
}

#searchBox::-webkit-scrollbar {
    width: 10px;
}
  
#searchBox {
    scrollbar-width: thin;
    scrollbar-color:var(--yellow-color) var(--md-dark-color);  
}

#searchBox::-webkit-scrollbar-track {
    background: var(--dark-color);
}

#searchBox::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 6px;
    border: 3px solid var(--light-dark-color);
}

#navbar {
    height: 60px;
    width: auto;
    background-color: var(--md-dark-color);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 35px;
}

#searchBar {
    display: flex;
    align-items: center;
    height: 100%;

    margin-top: 10px;
    padding-right: 50px;
    /* border: 1px solid red;  */
}

a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
input {
    width: 250px;
    height: 30px;
    background-color: var(--light-dark-color);
    border: none;
    color: white;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    text-indent: 10px;
}

#searchButton {
    background-color: var(--yellow-color);
    border: none;
    height: 32px;
    width: 37px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchImg {
    height: 25px;
    width: 25px;
}

#finder{
    color: var(--yellow-color);
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    height: 91vh;
}

#movie {
    /* border: 1px solid red; */
    height: 500px;
    width: 600px;
    border-radius: 15px;
    background-color: var(--dark-color);
    color: white;
    padding: 20px;
}

.notVisible {
    display: none;
}

.visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#searchBox {
    /* border : 1px solid yellow; */
    height: 300px;
    width: 250px;
    position: absolute;
    right: 87px;
    top: 50px;
    color:white;
    overflow: auto;
    text-indent: 10px;
}

 
#movieTitle{
    /* border :  1px solid blueviolet; */
}
    
#moviePoster {
    /* border : 1px solid green; */
}

#movieInfo {
    /* border : 1px solid yellow; */
} 
